<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:app.properties"/>

    <bean id ="arabicaBean"
          class="com.movsesyan.ArabicaCoffee">
    <property name="name" value="${ArabicaCoffee.name}"/>
        <property name="priceOfOnce" value="${ArabicaCoffe.priceOfOnce}"/>
    </bean>

    <bean id ="nescaffeeBean"
          class="com.movsesyan.NescafeeCoffee">
        <property name="name" value="${NescafeeCoffee.name}"/>
    </bean>


    <bean id ="manBean"
          class="com.movsesyan.Man">
        <constructor-arg ref="nescaffeeBean"/>
    </bean>






</beans>